body{

    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    /* margin: 5px; */
    text-align: center;
    display: flex;
    justify-content: center;  

}

h1 {
    font-family: 'Indie Flower', cursive;
}


.alternativas {
    text-align: left; 
}

.botao-resultado {
    font-family: 'Archivo Narrow', sans-serif;
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
    background-color: purple;
    border: slategrey;
    color: aliceblue;

}
